language: node_js

node_js:
   - "0.8"
   - "0.10"
   - "0.12"
   - "iojs-v1"
   - "iojs-v2"
   - "iojs-v3"
   - "4.2"
   - "5.5"
   - "node"

services:
   - rabbitmq

before_install:
   - node --version | (grep  -v 'v5' && npm install -g npm@2) || true

sudo: false
