<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="amqplib : AMQP 0-9-1 library and client for Node.JS" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>amqplib {% if page.title %} | {{ page.title }} {% endif %}</title>
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/squaremo/amqp.node">View on GitHub</a>

          <h1 id="project_title">amqplib</h1>
          <h2 id="project_tagline">AMQP 0-9-1 library and client for Node.JS</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/squaremo/amqp.node/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/squaremo/amqp.node/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>amqplib is maintained by
          <a href="https://github.com/squaremo">Michael Bridgen</a></p>
        <p class="copyright">Copyright 2013, 2014 Michael Bridgen</p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
